.vscode/**
.vscode-test/**
.git/**
.gitignore
.gitattributes

DEVELOPMENT.md

src/**
test/**
out/**

webpack.config.js
tsconfig.json
.eslintrc.json
.prettierrc

dist/**/*.map
dist/**/*.LICENSE.txt

node_modules/**

*.vsix
*.log

doc/**
*.md
!README.md
!LICENSE
